
<footer class="site-footer clearfix">
  <section class="copyright"><a href="https://github.com/schul-cloud/schul-cloud.github.io/blob/master/LICENSE"><img src="https://img.shields.io/github/license/schul-cloud/schul-cloud.github.io.svg"></a></section>
  <section class="poweredby"><a href="https://github.com/schul-cloud/schul-cloud.github.io"> <img style="background-color: grey; width:30px" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjwh
LS0gQ3JlYXRlZCB3aXRoIElua3NjYXBlIChodHRwOi8vd3d3Lmlua3NjYXBlLm9yZy8pIC0tPgoK
PHN2ZwogICB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iCiAgIHht
bG5zOmNjPSJodHRwOi8vY3JlYXRpdmVjb21tb25zLm9yZy9ucyMiCiAgIHhtbG5zOnJkZj0iaHR0
cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyIKICAgeG1sbnM6c3ZnPSJo
dHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIw
MDAvc3ZnIgogICB4bWxuczpzb2RpcG9kaT0iaHR0cDovL3NvZGlwb2RpLnNvdXJjZWZvcmdlLm5l
dC9EVEQvc29kaXBvZGktMC5kdGQiCiAgIHhtbG5zOmlua3NjYXBlPSJodHRwOi8vd3d3Lmlua3Nj
YXBlLm9yZy9uYW1lc3BhY2VzL2lua3NjYXBlIgogICB3aWR0aD0iMTIwIgogICBoZWlnaHQ9IjEy
MCIKICAgdmlld0JveD0iMCAwIDEyMCAxMTkuOTk5OTkiCiAgIGlkPSJzdmcyIgogICB2ZXJzaW9u
PSIxLjEiCiAgIGlua3NjYXBlOnZlcnNpb249IjAuOTEgcjEzNzI1IgogICBzb2RpcG9kaTpkb2Nu
YW1lPSJHaXRIdWIuc3ZnIj4KICA8dGl0bGUKICAgICBpZD0idGl0bGU0MTcwIj5HaXRIdWI8L3Rp
dGxlPgogIDxkZWZzCiAgICAgaWQ9ImRlZnM0IiAvPgogIDxzb2RpcG9kaTpuYW1lZHZpZXcKICAg
ICBpZD0iYmFzZSIKICAgICBwYWdlY29sb3I9IiNmZmZmZmYiCiAgICAgYm9yZGVyY29sb3I9IiM2
NjY2NjYiCiAgICAgYm9yZGVyb3BhY2l0eT0iMS4wIgogICAgIGlua3NjYXBlOnBhZ2VvcGFjaXR5
PSIwLjAiCiAgICAgaW5rc2NhcGU6cGFnZXNoYWRvdz0iMiIKICAgICBpbmtzY2FwZTp6b29tPSI0
IgogICAgIGlua3NjYXBlOmN4PSI4NS43NzY2NzkiCiAgICAgaW5rc2NhcGU6Y3k9IjY0LjExMjAz
MiIKICAgICBpbmtzY2FwZTpkb2N1bWVudC11bml0cz0icHgiCiAgICAgaW5rc2NhcGU6Y3VycmVu
dC1sYXllcj0ibGF5ZXIxIgogICAgIHNob3dncmlkPSJmYWxzZSIKICAgICBpbmtzY2FwZTpvYmpl
Y3Qtbm9kZXM9InRydWUiCiAgICAgaW5rc2NhcGU6d2luZG93LXdpZHRoPSIxOTIwIgogICAgIGlu
a3NjYXBlOndpbmRvdy1oZWlnaHQ9IjEwMDUiCiAgICAgaW5rc2NhcGU6d2luZG93LXg9Ii05Igog
ICAgIGlua3NjYXBlOndpbmRvdy15PSItOSIKICAgICBpbmtzY2FwZTp3aW5kb3ctbWF4aW1pemVk
PSIxIgogICAgIGZpdC1tYXJnaW4tdG9wPSIwIgogICAgIGZpdC1tYXJnaW4tbGVmdD0iMCIKICAg
ICBmaXQtbWFyZ2luLXJpZ2h0PSIwIgogICAgIGZpdC1tYXJnaW4tYm90dG9tPSIwIgogICAgIHVu
aXRzPSJweCIgLz4KICA8bWV0YWRhdGEKICAgICBpZD0ibWV0YWRhdGE3Ij4KICAgIDxyZGY6UkRG
PgogICAgICA8Y2M6V29yawogICAgICAgICByZGY6YWJvdXQ9IiI+CiAgICAgICAgPGRjOmZvcm1h
dD5pbWFnZS9zdmcreG1sPC9kYzpmb3JtYXQ+CiAgICAgICAgPGRjOnR5cGUKICAgICAgICAgICBy
ZGY6cmVzb3VyY2U9Imh0dHA6Ly9wdXJsLm9yZy9kYy9kY21pdHlwZS9TdGlsbEltYWdlIiAvPgog
ICAgICAgIDxkYzp0aXRsZT5HaXRIdWI8L2RjOnRpdGxlPgogICAgICAgIDxjYzpsaWNlbnNlCiAg
ICAgICAgICAgcmRmOnJlc291cmNlPSJodHRwOi8vY3JlYXRpdmVjb21tb25zLm9yZy9wdWJsaWNk
b21haW4vemVyby8xLjAvIiAvPgogICAgICA8L2NjOldvcms+CiAgICAgIDxjYzpMaWNlbnNlCiAg
ICAgICAgIHJkZjphYm91dD0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvcHVibGljZG9tYWlu
L3plcm8vMS4wLyI+CiAgICAgICAgPGNjOnBlcm1pdHMKICAgICAgICAgICByZGY6cmVzb3VyY2U9
Imh0dHA6Ly9jcmVhdGl2ZWNvbW1vbnMub3JnL25zI1JlcHJvZHVjdGlvbiIgLz4KICAgICAgICA8
Y2M6cGVybWl0cwogICAgICAgICAgIHJkZjpyZXNvdXJjZT0iaHR0cDovL2NyZWF0aXZlY29tbW9u
cy5vcmcvbnMjRGlzdHJpYnV0aW9uIiAvPgogICAgICAgIDxjYzpwZXJtaXRzCiAgICAgICAgICAg
cmRmOnJlc291cmNlPSJodHRwOi8vY3JlYXRpdmVjb21tb25zLm9yZy9ucyNEZXJpdmF0aXZlV29y
a3MiIC8+CiAgICAgIDwvY2M6TGljZW5zZT4KICAgIDwvcmRmOlJERj4KICA8L21ldGFkYXRhPgog
IDxnCiAgICAgaW5rc2NhcGU6bGFiZWw9IkViZW5lIDEiCiAgICAgaW5rc2NhcGU6Z3JvdXBtb2Rl
PSJsYXllciIKICAgICBpZD0ibGF5ZXIxIgogICAgIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yNjUu
NzY3NTgsLTE2OS40NTExNykiPgogICAgPHBhdGgKICAgICAgIHN0eWxlPSJjb2xvcjojMDAwMDAw
O2NsaXAtcnVsZTpub256ZXJvO2Rpc3BsYXk6aW5saW5lO292ZXJmbG93OnZpc2libGU7dmlzaWJp
bGl0eTp2aXNpYmxlO29wYWNpdHk6MTtpc29sYXRpb246YXV0bzttaXgtYmxlbmQtbW9kZTpub3Jt
YWw7Y29sb3ItaW50ZXJwb2xhdGlvbjpzUkdCO2NvbG9yLWludGVycG9sYXRpb24tZmlsdGVyczps
aW5lYXJSR0I7c29saWQtY29sb3I6IzAwMDAwMDtzb2xpZC1vcGFjaXR5OjE7ZmlsbDojZmZmZmZm
O2ZpbGwtb3BhY2l0eToxO2ZpbGwtcnVsZTpub256ZXJvO3N0cm9rZTpub25lO3N0cm9rZS13aWR0
aDoyO3N0cm9rZS1saW5lY2FwOnJvdW5kO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0
ZXJsaW1pdDo0O3N0cm9rZS1kYXNoYXJyYXk6bm9uZTtzdHJva2UtZGFzaG9mZnNldDowO3N0cm9r
ZS1vcGFjaXR5OjE7bWFya2VyOm5vbmU7Y29sb3ItcmVuZGVyaW5nOmF1dG87aW1hZ2UtcmVuZGVy
aW5nOmF1dG87c2hhcGUtcmVuZGVyaW5nOmF1dG87dGV4dC1yZW5kZXJpbmc6YXV0bztlbmFibGUt
YmFja2dyb3VuZDphY2N1bXVsYXRlIgogICAgICAgZD0iTSA1OS43NSAtMC4yNSBBIDYwIDYwIDAg
MCAwIC0wLjI1IDU5Ljc1IEEgNjAgNjAgMCAwIDAgNTkuNzUgMTE5Ljc1IEEgNjAgNjAgMCAwIDAg
MTE5Ljc1IDU5Ljc1IEEgNjAgNjAgMCAwIDAgNTkuNzUgLTAuMjUgeiBNIDU5Ljc1IDkuNzUgQSA1
MCA1MCAwIDAgMSAxMDkuNzUgNTkuNzUgQSA1MCA1MCAwIDAgMSA3My4wNzgxMjUgMTA3LjkzNzUg
QyA3Mi43NzE2NTQgMTA3LjUwOTQgNzIuNDc4NjkxIDEwNy4wMzk1MyA3Mi4yMjg1MTYgMTA2LjQ3
ODUyIEMgNzIuOTA1MzE2IDEwMS40MjUyMyA3NS4yOTAzMjkgOTEuMDgyNDQ4IDY5LjA2ODM1OSA4
Mi4zNjEzMjggQyAxMDIuODA2NDUgODIuMDQwMDA4IDkyLjI0OTI3MSA0Ny4xNzc1NzYgODYuNTUw
NzgxIDQ0LjQ0NzI2NiBDIDg3LjI2NzI5MSA0Mi45NzQxNzYgODguOTU4MjU5IDM2LjA5MjkzNCA4
Ni4xMzA4NTkgMzEuMTc3NzM0IEMgODEuNjU2MjU5IDMwLjU0NzM4NCA3OC4wNDcwMyAzMi40MDky
NjYgNzIuNDM3NSAzNi40NDE0MDYgQyA2NS44Mjc1NSAzMi44MTA5MDYgNDcuNTQ4ODU3IDM0Ljcz
NDI3NiA0Ny4zNzMwNDcgMzYuNDQxNDA2IEMgNDYuODQ1MTg2IDM2LjM5ODQ3IDM4LjkzMjk4OSAz
MC42MDk0IDM0LjkxOTkyMiAzMS4wMTE3MTkgQyAzNC4zNDY2MjcgMzEuMDY5MTkzIDMzLjg1MTkw
MyAzMS4yNTI1OTggMzMuNDcwNzAzIDMxLjU5NzY1NiBDIDI5LjE4NzA5MyAzNS40ODEzMDYgMzIu
MzA5MjQzIDQ0LjE4ODIyMSAzMy40NzA3MDMgNDQuNTUwNzgxIEMgMjUuNDUxNjQzIDUzLjAzNTY1
MSAyMS40MzczMDIgNzkuMTA0NzE0IDUwLjYzODY3MiA4Mi42Nzc3MzQgQyA0OC45OTMyOTIgODQu
MzE2MjA0IDQ4LjA2OTExOSA4Ni43NDcyNjYgNDcuNTc0MjE5IDg5LjQ3MjY1NiBDIDM0LjYyOTAx
OSA5My4wODA3MTYgMzQuODUwMjk4IDgzLjIwMTMxOSAyNy4zMzU5MzggNzkuNzMwNDY5IEMgMjUu
OTk0ODM4IDc5LjExMTAyOSAyNC4wMTMzMzIgNzkuNzE4NDM0IDIzLjA0NDkyMiA4MC44MzM5ODQg
QyAyMi4wOTAyMTIgODEuOTMzNzU0IDI1LjA0OTA0IDgzLjEzODcxOCAyNi40Njg3NSA4NC41ODAw
NzggQyAzMi43NjUxIDkwLjk3MjQ3OCAyOC45Njc3MDUgOTguMDgzNzczIDQ3LjA3ODEyNSA5Ni42
OTUzMTIgQyA0Ny4xMjQzMjUgMTAwLjM5Mjc1IDQ3LjQ4OTg4NCAxMDMuODk3OTIgNDcuNTgzOTg0
IDEwNi4xNjIxMSBDIDQ3LjE3MTc2NCAxMDYuODU3NiA0Ni43NjM2MjYgMTA3LjQxMzIxIDQ2LjM2
NTIzNCAxMDcuODczMDUgQSA1MCA1MCAwIDAgMSA5Ljc1IDU5Ljc1IEEgNTAgNTAgMCAwIDEgNTku
NzUgOS43NSB6ICIKICAgICAgIHRyYW5zZm9ybT0idHJhbnNsYXRlKDI2NS43Njc1OCwxNjkuNDUx
MTcpIgogICAgICAgaWQ9InJlY3Q0MTQxIiAvPgogIDwvZz4KPC9zdmc+Cg==" /></a></section>
</footer>
<!--NEEDS GITHUB IMAGE UPLOADED TOO-->
